---
import {
	contentfulClient,
	type About,
	type EntryImage,
} from '../lib/contentful';
import { type Service } from '../lib/contentful';
import { Image } from 'astro:assets';
import '../styles/global.css';
import MainLayout from '../layouts/MainLayout.astro';

const serviceEntries = await contentfulClient.getEntries<Service>({
	content_type: 'service',
});

const services = serviceEntries.items
	.map((entry) => {
		const { name, description } = entry.fields;
		return { name, description, image: entry.fields.image as EntryImage };
	})
	.slice(0, 4);

const aboutEntries = await contentfulClient.getEntries<About>({
	content_type: 'about',
});

const about = {
	...aboutEntries.items[0].fields,
	bioImage: aboutEntries.items[0].fields.bioImage as EntryImage,
	heroImage: aboutEntries.items[0].fields.heroImage as EntryImage,
};
console.log(services);
---

<MainLayout title="Kali Kantina">
	<section
		class="relative flex h-screen w-full items-center justify-center bg-black/40 text-white lg:justify-between lg:bg-inherit lg:text-black"
	>
		<div class="flex flex-col items-center p-2 lg:w-1/2 lg:items-start lg:p-4">
			<span class="font-display text-8xl italic lg:mx-0">Kali Kantina</span>
			<p class="text-center text-4xl lg:text-start lg:text-2xl">
				Vancouver, Washington's own Filipino street food stand.
			</p>
			<button
				class="mx-auto mt-4 w-fit bg-emerald-900 px-10 pb-7 pt-6 text-2xl text-white transition hover:bg-emerald-800 active:bg-emerald-950 lg:mx-0 lg:w-auto lg:px-6 lg:pb-4 lg:pt-3"
				>View Our Menu</button
			>
		</div>
		<div class="absolute -z-10 h-full w-full lg:static lg:w-1/2">
			<Image
				class="h-full w-full object-cover"
				width={about.heroImage.fields.file.details.image.width / 5}
				height={about.heroImage.fields.file.details.image.height / 5}
				src={about.heroImage.fields.file.url}
				alt="A bird."
			/>
		</div>
	</section>
	<section class="flex flex-col bg-emerald-950 text-white lg:flex-row-reverse">
		<article
			class="row-start-1 flex flex-col p-8 py-16 lg:row-start-auto lg:w-1/2 lg:p-4"
		>
			<h2 class="mx-auto mb-8 font-display text-8xl italic lg:mx-0 lg:text-6xl">
				{about.title}
			</h2>

			<p class="w-full text-4xl lg:text-2xl">
				{about.bio}
			</p>
		</article>
		<div class="flex h-[50vh] lg:w-1/2">
			<Image
				class="h-full w-full object-cover"
				width={about.bioImage.fields.file.details.image.width / 5}
				height={about.bioImage.fields.file.details.image.height / 5}
				format="webp"
				src={about.bioImage.fields.file.url}
				alt="A bird."
			/>
		</div>
	</section>

	<section class="flex flex-col bg-zinc-950 pb-4 text-amber-50">
		<h2
			class="mx-auto p-8 py-16 font-display text-8xl italic lg:p-4 lg:text-6xl"
		>
			Our Services
		</h2>
		<div class="grid grid-cols-12 lg:gap-4 lg:px-4">
			{
				services?.map((service, i) => (
					<article
						class={`col-span-12 mb-4 flex flex-1 flex-col border-zinc-800 bg-zinc-950 p-4 lg:mb-0 lg:flex-row-reverse lg:border ${
							services.length % 4 === 0 ? 'xl:col-span-6' : ''
						} ${i === 0 ? 'border-y' : 'border-b'}`}
					>
						<div class="h-[50vh] lg:w-1/2">
							{service?.image && (
								<Image
									width={service.image.fields.file.details.image.width / 5}
									height={service.image.fields.file.details.image.height / 5}
									format="webp"
									class="h-full w-full flex-1 object-cover"
									src={`https:${service.image.fields.file.url}`}
									alt={service.image.fields.description}
								/>
							)}
						</div>
						<div class="flex flex-col justify-center p-8 py-16 lg:w-1/2 lg:p-4">
							<h3 class="mb-4 text-6xl capitalize lg:text-4xl">
								{service.name}
							</h3>
							<p class="w-full text-4xl lg:text-2xl">{service.description}</p>
						</div>
					</article>
				))
			}
		</div>
	</section>
	<section class="grid grid-cols-12 bg-zinc-950 text-white">
		<p
			class="col-span-12 mx-auto flex flex-col items-center justify-center gap-4 p-4 text-4xl uppercase tracking-wide lg:flex-row"
		>
			<span>Locally Sourced</span>
			<span class="hidden lg:block">◇</span>
			<span>Veteran Owned</span>
		</p>
	</section>
</MainLayout>
