---
import {
	contentfulClient,
	type About,
	type EntryImage,
} from '../lib/contentful';
import { type Service } from '../lib/contentful';
import { Image } from 'astro:assets';

const serviceEntries = await contentfulClient.getEntries<Service>({
	content_type: 'service',
});

const services = serviceEntries.items.map((entry) => {
	const { name, description } = entry.fields;
	return { name, description, image: entry.fields.image as EntryImage };
});

const aboutEntries = await contentfulClient.getEntries<About>({
	content_type: 'about',
});

const about = {
	...aboutEntries.items[0].fields,
	bioImage: aboutEntries.items[0].fields.bioImage as EntryImage,
	heroImage: aboutEntries.items[0].fields.heroImage as EntryImage,
};
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/src/global.css" />
		<title>Kali Kantina</title>
	</head>
	<body class="bg-amber-50">
		<header
			class="absolute flex w-full flex-col-reverse items-end justify-between p-4 lg:flex-row lg:items-center"
		>
			<nav>
				<ul
					class="mt-2 flex flex-col items-end gap-2 text-2xl text-white md:text-xl lg:mt-0 lg:flex-row lg:items-start lg:gap-4 lg:text-lg lg:text-black"
				>
					<li>
						<a
							href="#"
							class="uppercase tracking-wide underline-offset-2 hover:underline"
							>Upcoming Events</a
						>
					</li>
					<li>
						<a
							href="#"
							class="uppercase tracking-wide underline-offset-2 hover:underline"
							>Menu</a
						>
					</li>
				</ul>
			</nav>
			<div class="flex items-center border-b-2 pb-2 text-white">
				<a href="#">
					<svg
						class="h-24 w-24 md:h-20 md:w-20 lg:h-12 lg:w-12"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						><path
							fill="currentColor"
							d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z"
						></path>
					</svg>
				</a>
				<a href="#">
					<svg
						class="h-24 w-24 md:h-20 md:w-20 lg:h-12 lg:w-12"
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						><path
							fill="currentColor"
							d="M12 2.04c-5.5 0-10 4.49-10 10.02c0 5 3.66 9.15 8.44 9.9v-7H7.9v-2.9h2.54V9.85c0-2.51 1.49-3.89 3.78-3.89c1.09 0 2.23.19 2.23.19v2.47h-1.26c-1.24 0-1.63.77-1.63 1.56v1.88h2.78l-.45 2.9h-2.33v7a10 10 0 0 0 8.44-9.9c0-5.53-4.5-10.02-10-10.02Z"
						></path>
					</svg>
				</a>
			</div>
		</header>
		<main class="">
			<section
				class="flex h-screen w-full items-center justify-center bg-black/40 text-white lg:justify-between lg:bg-inherit lg:text-black"
			>
				<div class="flex flex-col p-2 lg:p-4">
					<span class="mx-auto font-display text-6xl lg:mx-0">Kali Kantina</span
					>
					<p class="text-xl">
						Vancouver, Washington's own Filipino street food stand.
					</p>
					<button
						class="mx-auto mt-4 w-fit bg-emerald-900 px-6 pb-4 pt-3 text-lg text-white transition hover:bg-emerald-800 active:bg-emerald-950 lg:mx-0 lg:w-auto"
						>View Our Menu</button
					>
				</div>
				<div class="absolute -z-10 h-full w-full lg:static lg:w-1/2">
					<Image
						class="h-full w-full object-cover"
						width={about.heroImage.fields.file.details.image.width / 5}
						height={about.heroImage.fields.file.details.image.height / 5}
						src={about.heroImage.fields.file.url}
						alt="A bird."
					/>
				</div>
			</section>
			<section class="grid grid-cols-12 bg-emerald-950 text-white">
				<div class="col-span-12 h-[50vh] lg:col-span-6">
					<Image
						class="h-full w-full object-cover"
						width={about.bioImage.fields.file.details.image.width / 5}
						height={about.bioImage.fields.file.details.image.height / 5}
						format="webp"
						src={about.bioImage.fields.file.url}
						alt="A bird."
					/>
				</div>

				<article
					class="col-span-12 row-start-1 flex flex-col p-2 lg:col-span-6 lg:row-start-auto lg:p-4"
				>
					<h2 class="mx-auto text-4xl lg:mx-0">{about.title}</h2>
					<div class="flex flex-col text-xl">
						<p class="w-full">
							{about.bio}
						</p>
					</div>
				</article>
			</section>

			<section class="grid grid-cols-12">
				<h2 class="col-span-12 mx-auto p-2 text-4xl lg:p-4">Our Services</h2>
				<div class="col-span-12 flex flex-col lg:flex-row">
					{
						services.map((service) => (
							<article class="flex flex-1 flex-col text-xl">
								<div class="h-[50vh]">
									<Image
										width={service.image.fields.file.details.image.width / 5}
										height={service.image.fields.file.details.image.height / 5}
										format="webp"
										class="h-full w-full flex-1 object-cover"
										src={`https:${service.image.fields.file.url}`}
										alt={service.image.fields.description}
									/>
								</div>
								<div class="flex flex-col justify-center p-2 lg:p-4">
									<h3 class="text-2xl capitalize">{service.name}</h3>
									<p class="w-full">{service.description}</p>
								</div>
							</article>
						))
					}
				</div>
			</section>
			<section class="mt-4 grid grid-cols-12 bg-zinc-900 text-white">
				<p
					class="col-span-12 mx-auto flex flex-col items-center justify-center gap-4 p-4 text-2xl uppercase tracking-wide lg:flex-row"
				>
					<span>Locally Sourced</span>
					<span class="hidden lg:block">◇</span>
					<span>Veteran Owned</span>
				</p>
			</section>
			<footer
				class="flex w-full flex-col gap-2 bg-zinc-900 p-4 text-white lg:gap-4"
			>
				<span class="">Kali Kantina © {new Date().getFullYear()}</span>
				<section class="flex flex-col lg:flex-row">
					<div class="flex flex-col lg:w-1/2">
						<h3 class="uppercase tracking-wide">Contact</h3>
						<p>123 Main St</p>
						<p>Vancouver, WA 12345</p>
						<p>(123) 456-7890</p>
					</div>
					<div class="flex flex-col lg:w-1/2">
						<h3 class="uppercase tracking-wide">Hours</h3>
					</div>
				</section>
			</footer>
		</main>
	</body>
</html>
